.login_btn {
    background-color: #3E4B5E;
    color: white;
    width: 100%;
}

.login_btn_container {
    width: 100%;
    text-align: end;
}

.header {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

@media (min-width: 576px) {
    .login_btn {
        width: 100%;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .login_btn {
        width: 60%;
    }

    .login_btn_container {
        text-align: center;
    }
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .login_btn {
        width: 20%;
    }

    .login_btn_container {
        text-align: end;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .login_btn {
        width: 20%;
    }

    .login_btn_container {
        text-align: end;
    }
}