.login_btn_container {
    width: 100%;
    text-align: end;
}

.logout_btn {
    background-color: white;
    border-color: #3E4B5E;
    color: #3E4B5E;
    width: 100%;
}

.logout_btn:hover {
    background-color: #3E4B5E;
    color: white;
}

.charts_size {
    width: 80%;
    height: 80%;
}

.header {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

@media (min-width: 576px) {
    .logout_btn {
        width: 100%;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .logout_btn {
        width: 60%;
    }

    .login_btn_container {
        text-align: center;
    }
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .logout_btn {
        width: 20%;
    }

    .login_btn_container {
        text-align: end;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .logout_btn {
        width: 20%;
    }

    .login_btn_container {
        text-align: end;
    }
}